/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* KEYFRAMES */

@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* BASE STYLES */
.app {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  height: 100vh;
  width: 100vw;
}

.app-background {
  background-image: linear-gradient(to bottom right, #18A0BE, #622D89);
  height:calc(100vh - 110px);

}

/* HEADER */

.header {
  height: 55px;
  /* display: flex; */
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to bottom, #18A0BE, #622D89);
}

.cat-logo {
  margin-left: 20px;
  margin-right: 0px;
  animation: fade-in-from-top 0.5s;
  height: 40px;
  object-fit: cover;
  margin-top: 8px;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  animation: fade-in-from-top 0.5s;
}

.nav-link:visited {
  color: #fff;
}

.nav-link:hover {
  color: #b1b6c8;
}


/* CAT INDEX */

.cards-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.black { /* FIX ME */
  color: black;
}

.index-nav-link {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.index-nav-link:visited {
  color: #fff;
}

.index-nav-link:hover {
  color: #b1b6c8;
}

/* CAT SHOW */

.cat-show-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-show-img {
  margin: 20px;
  max-width: 400px;
  height: auto;
  /* object-fit: cover; */
  border-radius: 20px;
}

/* NOT FOUND */

.not-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-background img {
  width: 50%;
}

/* FOOTER */

.footer {
  height: 55px;
  display: flex;
  /* background-image: linear-gradient(to right, #18A0BE, #622D89); */
  background-image: linear-gradient(to bottom, #622D89, #18A0BE);
  justify-content: center;
}

.footer p {
  margin-top: 8px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.footer-cat-logo {
  margin-left: 20px;
  margin-right: 0px;
  height: 40px;
  object-fit: cover;
  margin-top: 8px;
}

.foot-link {
  color: #fff;
}

.foot-link:focus {
  color: #fff;
}

.foot-link:hover {
  color: #b1b6c8;
}
